# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Umbraco_V8-Auth0.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Umbraco_V8-Auth0\Umbraco_V8-Auth0\.idea\.idea.Umbraco_V8-Auth0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
